#FoodMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    height: auto;
    width: auto;
}

.menu-category {
    margin-top: 2rem;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
    text-align: right;
    margin-bottom: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    margin-bottom: 1rem;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.menu-item-name {
    flex-grow: 1;
    font-weight: 700;
    margin-right: 1rem;
    max-width: 6ch;
    overflow-wrap: break-word;

}

.menu-item-description {
    flex-grow: 3;
    font-style: italic;
    margin-right: auto;
    width: 40vw;
}

.menu-item-price {
    flex-grow: 1;
    font-weight: 700;
    margin-left: 1rem;
    text-align: right;
}

@media only screen and (min-width: 768px) {
    #FoodMenu {
        max-width: 1024px;
        margin: 0 auto;
        padding: 2rem;
    }

    .menu-container {
        max-width: 60vw;
    }

    .menu-item-name{
        max-width: none;
    }

    .menu-item-price{
        /* justify-content: flex-end; */
    }
}

@media only screen and (max-width: 768px) {
        .menu-category {
            margin-top: auto;
        }
}